/* Default text style */
.bg-image {
    background-image: url("../images/pexels-photo-1000445.jpeg");
}
body {
    
    font-family: 'Gothic A1', sans-serif;
}

.brand-logo {
    font-family: 'Anton', sans-serif;

}
