/* Default text style */
.text {
    font-family: 'Gothic A1', sans-serif;
}
body {
    background-image: url("../images/pexels-photo-1000445.jpeg");
    font-family: 'Gothic A1', sans-serif;
}
.motto {
    color: white;
    font-family: 'Maven Pro', sans-serif;

}
